  <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar_item"><a href="/index.html" class="navbar__link">inicio</a></li>
            <li class="navbar_item"><a href="/views/pages/contact.html" class="navbar__link">Contacto</a></li>
            <li class="navbar_item"><a href="/views/pages/courses.html" class="navbar__link">Cursos</a></li>
            <li class="navbar_item"><a href="/views/pages/about.html" class="navbar__link">sobre mi</a></li>
           
        </ul>
    </nav>