<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
    <h1 class="navbar__title">
        Hernan Caicedo
        <span class="navbar__subtitle">Freelancer</span>
    </h1>
    </header>
   <div class="navbar-container">
        
    </div>
    <script src="/js componentes/navbar.js"></script>
  
    <h1>Estoy en en cursos</h1>
 
</body>
</html>